* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
      background-image: url('img/2.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color:rgb(82, 128, 82);
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    padding: 10px;
    height: 350px; /* Should be removed. Only for demonstration */
    background-image: url('img/R.jfif');
    background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
  }
  
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

}
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  

  body {
    background-color: #f1f1f1;
    padding: -1px;
    font-family: Arial;
    }
    
    /* Center website */
    .main {
    max-width: 1200px;
    margin: auto;
    }
    
    h1 {
    font-size: 50px;
    word-break: break-all;
    }
    
    .row {
    margin: 8px -16px;
    }
    
    /* Add padding BETWEEN each column */
    .row,
    .row > .column {
    padding: 5px;
    }
    
    /* Create four equal columns that floats next to each other */
    .column {
    float: left;
    width:100;
    }
    
    /* Clear floats after rows */ 
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    
    /* Content */
    .content {
    background-color: rgba(226, 222, 222, 0);
    padding: 1px;
    }
    
    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 900px) {
    .column {
    width: 50%;
    }
    }
    
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
    .column {
    width: 100%;
    }
    }



    .button2:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }



    /*footer*/
    